{% extends "antd/function.jinja" %}
{% block import -%}
import {
  Form,
  Input,
  Select,
  useForm,
  useSelect,
  getValueFromEvent,
  Upload,
  Create,
} from "@pankod/refine-antd";
{% endblock -%}

{% block selections %}
      {% for selection in selections -%}
                {{ selection }}
        {% endfor -%}
{% endblock %}

{% block setup %}
    const { formProps, saveButtonProps, queryResult } = useForm();
{% endblock %}

{% block fields %}
    return (
        //@ts-ignore
        <Create saveButtonProps={saveButtonProps}>
            <Form {...formProps} layout="vertical" >
                {% for field in fields -%}
                    {% if not readOnlys[loop.index0] %}
                        {{ field }}
                    {% endif %}
                {% endfor -%}
            </Form>
        </Create>
    );
{% endblock %}