{% extends "antd/function.jinja" %}
{% block import -%}
import { 
  List,  
  TextField,
  TagField,
  DateField,
  ImageField,
  Table,
  useTable,
  ShowButton
  } from "@pankod/refine-antd";
{% endblock -%}

{% block setup %}
     const { tableProps } = useTable<any>();
{% endblock %}

{% block fields %}
    return (
        //@ts-ignore
        <List>
           <Table {...tableProps} rowKey="id">
                {% for field in fields -%}
                    {{ field }}
                {% endfor -%}
                 <Table.Column
                    dataIndex={"actions"}
                    render={(_text, record: any): React.ReactNode => {
                        return (
                        <ShowButton size="small" recordItemId={record.id} hideText />
                        );
                    }}
                    />
           </Table>
        </List>
    );
{% endblock %}